.posts {
  width: 80%;
  min-height: 120px;
  max-height: fit-content;
  margin: 1rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  animation: myposts 1s;
}
@keyframes myposts {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    min-height: 120px;
    max-height: fit-content;
  }
}
.posts_user_info {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: transparent;
}
.Posts_text_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts_time {
  font-size: small;
  font-weight: lighter;
  color: rgb(122, 122, 122);
}
.posts_name {
  color: rgb(36, 36, 36);
  font-weight: bolder;
}
.posts_text_message {
  padding: 1rem;
}
.posts_img {
  width: 100%;
  margin: 1rem 0;
}
.likes_info {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  height: 80px;
  margin: 1rem 0;
}
.likedInfo {
  position: absolute;
  top: -10px;
  left: 10px;
}
.commentInfo {
  position: absolute;
  top: -10px;
  right: 10px;
}
.likes_row {
  width: 40%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  align-items: center;
  color: gray;
  justify-content: center;
  cursor: pointer;
  font-weight: bolder;
  height: 80%;
  margin: auto;
}
.likes_row:hover {
  background-color: rgb(243, 243, 243);
}
.postLike,
.fa-comment-alt {
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  padding: 0 1rem;
  align-items: center;
}
.postLike:hover,
.fa-comment-alt:hover {
  color: rgb(33, 143, 180);
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  padding: 0 1rem;
  align-items: center;
}
.postLike:active {
  color: rgb(33, 143, 180);
  font-size: larger;
  font-weight: bolder;
}
.commentbox {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  position: relative;

  height: fit-content;
}
.commentreplybox {
  max-width: 100%;
  background-color: rgb(234, 243, 247);
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  height: fit-content;
}
.usercomment {
  justify-content: space-between;
}
.userInput {
  display: flex;
  position: relative;
  align-items: center;
  padding: 1rem 0;
  flex-direction: row;
}
.fas,
.far,
.fab {
  cursor: pointer;
}
.fa-trash:hover {
  color: red;
}
.commenteduserImage,
.userImage {
  border-radius: 50%;
}
.sendreplucomment {
  border-radius: 0.2rem;
  visibility: hidden;
  cursor: pointer;

  position: absolute;
  padding: 0.2rem 0.3rem;
  right: 10px;
  color: white;
  background-color: gray;
  bottom: -20px;
}
.sendcomment {
  border-radius: 0.2rem;
  visibility: hidden;
  position: absolute;
  padding: 0.2rem 00.3rem;
  right: 10px;
  cursor: pointer;
  color: white;
  background-color: gray;
  bottom: 10px;
}
.userInput:hover .sendcomment {
  visibility: visible;
}
.replybox:hover .sendreplucomment {
  visibility: visible;
}
.commentinput {
  width: 30%;
  height: 28px;

  transition: 0.5s ease;
  border-bottom: 2px solid black;
  padding: 0.2rem 1rem;
  margin: 0 0 0.5rem 1rem;
}
.commentinput:focus {
  width: 80%;
  border-bottom: 2px solid rgb(57, 167, 218);
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
  transition: 0.5s ease;
}
.posts_footer_info {
  justify-content: center;
  align-items: center;
  font-size: small;

  color: black;
  margin-left: 1.5rem;
}
.commentuserName {
  font-size: small;
  position: relative;
  font-weight: bolder;
  margin-left: 0.5rem;
}
.commentuserTime {
  position: absolute;
  left: 0rem;
  white-space: nowrap;
  font-size: x-small;
  top: 1rem;
}
.commentuserImage {
  background-color: transparent;
  height: 100%;
  width: fit-content;
}
.comment {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 1rem 3rem;
  word-wrap: break-word;
}
.replyClose {
  top: 5px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  background-color: transparent;
}
.commentuserInfo {
  display: flex;
  flex-direction: row;
}
.ShowCommentsbutton {
  margin-left: 1rem;
}
.postuser {
  display: flex;
  align-items: center;

  flex-direction: row;
}
.posts_user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post_options {
  display: flex;
  flex-direction: row;
  width: 40px;
  margin-right: 1rem;

  justify-content: space-between;
}
.fa-bookmark:hover {
  color: rgb(57, 167, 218);
  transform: scaleY(1.5);
  transition: 0.5s ease;
}
.fa-bookmark {
  transform: scaleY(1);
  transition: 0.5s ease;
}
.none {
  display: none;
}
