.html {
  text-align: center;
}

.App {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(233, 244, 247);
}
.left,
.right {
  height: 80vh;
  width: 25%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 247, 248);
}
.center {
  height: 100vh;
  top: 0;
  overflow-y: scroll;
  position: relative;
  width: 50%;
  background-color: rgb(242, 247, 248);
}
